{
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    "minify"
  ],
  "comments": false
}
